{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Register</h2>
            <form method="post">
                <div class="mb-3">
                    <label for="id_name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="id_name" required>
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="id_email" required>
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="id_password" required>
                </div>
                <div class="mb-3">
                    <label for="id_role" class="form-label">Register as</label>
                    <select class="form-select" name="role" id="id_role" required onchange="toggleLanguages()">
                        <option value="">Select role</option>
                        <option value="customer">Customer</option>
                        <option value="translator">Translator</option>
                    </select>
                </div>

                <div class="mb-3" id="languages-container" style="display:none;">
                <label for="id_languages" class="form-label">Languages</label>
                <select class="selectpicker form-control" 
                        name="languages" 
                        id="id_languages" 
                        multiple 
                        data-live-search="true" 
                        data-actions-box="true"
                        data-width="100%">
                    {% for lang_code, lang_name in languages %}
                    <option value="{{ lang_code }}">{{ lang_name }}</option>
                    {% endfor %}
                </select>
                <div class="form-text" id="selected-languages-text"></div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
{% endblock %}
